<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae odio aliquid aperiam eligendi? Qui, pariatur ab, quisquam nemo esse incidunt dolores tempore, aliquid vitae perspiciatis quas enim id totam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae odio aliquid aperiam eligendi? Qui, pariatur ab, quisquam nemo esse incidunt dolores tempore, aliquid vitae perspiciatis quas enim id totam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae odio aliquid aperiam eligendi? Qui, pariatur ab, quisquam nemo esse incidunt dolores tempore, aliquid vitae perspiciatis quas enim id totam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae odio aliquid aperiam eligendi? Qui, pariatur ab, quisquam nemo esse incidunt dolores tempore, aliquid vitae perspiciatis quas enim id totam!</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>